<body>
<div class='container'>
	<div class="jumbotron">
	  <center><img src='img/newspapertime.jpg'>
	  <br>
	  <p>Explore the New Yorker's most up to date news articles here!
	  <br>
	  Click below and scroll! 
	  <br>
	  Enjoy!
	  </p>

	  <p><a class="btn btn-primary btn-lg" id='mainButton' role="button">Start Exploring!</a></p></center>
	</div>
	<div class='row' id='article'>
	</div>
</div>
</body>